#logoContainer{
    display: flex;
    justify-content: flex-start;
    direction: rtl;
}
#rightSection{
       grid-column-start : auto;
       padding-top: 0;
}

@media only screen and (max-width : 768px){

    #rightSection{
        column-span: 10;
       padding-top: 30px;

     grid-column-start : 5;
}
    
}