#select2 > span > span > span {
 display: flex;
 justify-content:right ;
}
.createArticleTitle::after{
 content: " ";
 position: absolute;
 bottom: 0;
 right: 0;
 left: 0;
 display: block;
 height: 10px;
 width: calc(100% + 6px);
 background-color: #1eb35b40;
 -webkit-clip-path: polygon(6px 0, 100% 0, 100% 100%, 0 100%);
 clip-path: polygon(6px 0, 100% 0, 100% 100%, 0 100%);
 z-index: 5;
}
form{
  padding-right: 15%;
}
.jdp-container {
  background-color: #f9f9f9 !important; /* رنگ پس‌زمینه روشن */
  color: #333 !important;      
   bottom: 100% !important;  /* نمایش تقویم بالای input */
  top: auto !important;
  margin-bottom: 10px;         /* رنگ فونت تیره */
}

.jdp-container .jdp-time,
.jdp-container .jdp-date {
  color: #000 !important;              /* رنگ متن انتخاب زمان و تاریخ */
}
.jdp-time-container{
  background-color: #f9f9f9 !important; /* رنگ پس‌زمینه روشن */
  color: #333 !important;     
}
.custom-jdp {
  background-color: #fff;
  color: #000;
}